@import "../../scss/base/reset.scss";
@import "../../scss/utilities/mixins.scss";
@import "../../scss/utilities/variables.scss";

@media (min-width: 200px) and (max-width: 575.98px) {
  .item-card-2,
  .item-card-3,
  .item-card-4 {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .item-card-2,
  .item-card-3,
  .item-card-4 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .product {
    display: grid;
    grid-template-columns: 50% 50%;
    .item-card-3,
    .item-card-4 {
      display: none;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .product {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    max-width: 1100px;
    margin: auto;
    padding: 1rem 3rem;
    .item-card-4 {
      display: none;
    }
  }
}

@media (min-width: 1200px) {
  .product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 3rem;
  }
}
