@mixin w-100 {
  width: 100%;
}

@mixin d-block {
  display: block;
}
@mixin d-flex {
  display: flex;
}

@mixin web-kit {
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}
