//Color

$main-purple: #4938B5;
$secondary-purple: #5943E3;
$third-purple: #1D0D85;
$dark-gray: #272727;
$regular-gray: #43464E;
$medium-gray: #6C757D;
$card-gray: #EDEDED;
$light-gray: #F1F2F3;
$regular-white: #fff;
$promo-red:#D12727;
