//Typography

$roboto: 'Roboto',sans-serif;
$nunito-sans: 'Nunito Sans',sans-serif;
$open-sans: 'Open Sans',sans-serif;

//Font Size
$small: .8rem;
$regular: 1rem;
$regular-plus: 1.3rem;
$medium: 1.5rem;
$large: 2rem;

//Font Weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;