//Typography

$roboto: 'Roboto',sans-serif;
$nunito-sans: 'Nunito Sans',sans-serif;
$open-sans: 'Open Sans',sans-serif;

//Font Size
$small-font: .8rem;
$regular-font: 1rem;
$regular-plus-font: 1.3rem;
$medium-font: 1.5rem;
$large-font: 2rem;
$x-large-font: 3.8rem;

//Font Weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;